<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binary Wars Multiplayer</title>
    <link rel="stylesheet" href="/css/style_mp.css" />
    <link href="https://icons8.com/icon/tTepuq1G0UCP/binary" rel="icon" type="image/x-icon">
</head>

<body>
    <div id="game-container">
        <div id="menu-div">
            <div class="menu-button-div">
                <button class="menu-button" onclick="showSingleplayer()">
                    Binary Wars SP
                </button>
            </div>
            <div class="menu-button-div">
                <button class="menu-button" onclick="showMultiplayer()">
                    Binary Wars MP
                </button>
            </div>
        </div>
        <div id="game-div">
            <div id="score-div"></div>
            <div id="button-div"></div>
            <div id="guide-div"></div>
            <div id="game-window-div">
                <div id="problem-window-div"></div>
                <div id="guide-div1"></div>
            </div>
        </div>
        <div id="opp-game-div">
            <div id="opp-score-div"></div>
            <div id="opp-button-div"></div>
            <div id="opp-guide-div"></div>
            <div id="opp-game-window-div">
                <div id="opp-problem-window-div"></div>
                <div id="opp-guide-div1"></div>
            </div>
        </div>
        <div id="highscore-div">
            Highscore:<br><br>
            Loading..
        </div>
    </div>
    <script src="https://cdn.ably.com/lib/ably.min-1.js"></script>
    <script src="/intro.js"></script>
</body>

</html>